#big_button{
	position: absolute;
	height: 300px;
	display: none;
	width:300px;
	background-color: blue;
	font-size: 200%;
	text-align: center;
	line-height: 300px;
	left:50%;
	margin-left: -150px;
	top:50%;
	margin-top: -150px;
	cursor: pointer;
	border-radius: 30px;
}

#big_button:hover{
	background-color: red;
	font-size: 300%;
}

#location{
	font-size: 235%;}

#location>input{
	width: calc( 100% - 100px);
	height: 50px;
	font-size: 40px;
}

#confirm{
    display: none;
	
    width: 100px;
    height: 50px;
    position: relative;
    text-align: center;
    top: 3px;
    font-size: 19px;
    background-color: grey;
    line-height: 25px;
    cursor: pointer;
}


html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }


#map-canvas{
	display:none;
}

#closet{
	width:50%;
	height:50%;
	position:relative;
	left:0px;
}


#categories{
	width:100%;
	height:100px;

}

#types{
	width:100%;
	height:100px;
	
}

#subtypes{
	width:100%;
	height:100px;
	
}


#selection{
	width:100%;
	height:300px;
	background-color: grey;
	overflow: scroll;
}


.category{
	height:calc( 100% - 2px);
	display: inline-block;
	/* border: 1px solid; */
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	text-align: center;
}
.category:hover{
	background-color: pink;
}
.category>img{
	height:100%;
}

.type{
	height:calc( 100% - 2px);
	display: inline-block;
	border: 1px solid;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	text-align: center;
}
.type:hover{
	background-color: cyan;
}
.type>img{
	height:100%;
}

.subtype{
	height:calc(100% - 2px);
	display:inline-block;
	border: 1px solid;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	text-align: center;

}
.subtype:hover{
	background-color: beige;
}
.subtype>img{
	max-height:100%;
	max-width:100%;
	vertical-align: middle;
}

#addCloth{
	height:50px;
	width:200px;
	position:relative;
	left:50%;
	margin-left: -100px;
	text-align: center;
	line-height: 50px;
	background-color: green;
	cursor:pointer;
}
.cloth{
	width:calc( 20% - 2px);
	height:100px;
	display:inline-block;
	border:1px solid;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	cursor:pointer;
}


#modal{
	position:absolute;
	height: 416px;
	width:700px;
	border:1px solid;
	border-radius: 20px;
	left:50%;
	top:50%;
	margin-top:-250px;
	margin-left:-350px;
	background-color: beige;
	padding:50px;

}


#modal>label{
	display:inline-block;
	width:100%;
}

#modal>label>input{
	float:right;
	width:70%;
}
#cancel{
	height:50px;
	width:200px;
	border: 1px solid;
	cursor:pointer;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	position: relative;
	left: 5%;
}
#addThis{
	height:50px;
	width:200px;
	border: 1px solid;
	text-align: center;
	line-height: 50px;
	position:relative;
	left:50%;
	margin-left:-100px;
	cursor:pointer;
	display: inline-block;
}

.clear{
	clear:both;
}

#dropDown{
	width:500px;
	border:1px solid;
}

#modal>label>input {
	font-size: 30px;
}
#modal>label {
	font-size: 200%;
}
#modal>label>select{
	background: white;
	width: 70%;
	padding: 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	height: 34px;
	float:right;
}



#wearing{
	width:calc( 50% - 2px);
	left:50%;
	position: absolute;
	top: 98px;
	display:inline-block;
	height: 598px;
	border:1px solid;
}
#wearing>div{
	width:calc(100% - 2px);
	overflow:scroll;
}


#top{
	height: 150px;
	width:10000px;
	border:1px solid;
}

#bottom{
	height:150px;
	border:1px solid;
}

#feet{
	height:150px;
	border:1px solid;	
}

.selected{
	
}

.right{
	height:100%;
	display:inline-block;
}
.right>img{
	height:100%;
}
#result{
    width: 100%;
	
    height: 144px;
    font-size: 200%;
    text-align: center;
    text-align: center;
    line-height: 140px;
}

#inner-type{
	font-size:200%;
	line-height: 50px;
	margin: 0 auto;
	text-align: center;
}